.search-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-top: 5px;
    margin-left: 5px;
}
.search-form{
    width: 100%;
    max-width: 800px;
    margin: auto;

}
.search-input{
    margin-left: 20px;
    padding: 10px;
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: red;
    border: black;
}
.search-btn{
    border: black;
    outline: rgb(223, 230, 223);
    background: green;
}
.logo{
    margin-left: 20px;
    color: rgb(18, 19, 18);
    font-weight: 900px;
    cursor: pointer;
    text-decoration: none;
}