
.menu1{
    font-size: 250%;
}
.menuTexts{
    font-size: 150%;
}
.bigText{
    font-size: 30%;
}
.searchBox{
    width: 15%;
    margin: auto;
    background: rgb(0, 255, 242);
    margin-left: 5px;
    border: none;
    height: 30px;
    border-radius: 5px;
}


